<div id="<%= dom_id menu %>">
  <p>
    <strong>Item:</strong>
    <%= menu.item_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Allergy info:</strong>
    <%= menu.allergy_info %>
  </p>

</div>
