<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Inventory</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to inventories_path, class: button_class(theme: "transparent") do %>
      All Inventories
      <% end %>
      <%= link_to edit_inventory_path(@inventory), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Ingredient:</p>
        <p><%= @inventory.ingredient_id %></p>
      </li>
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @inventory.name %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @inventory.quantity %></p>
      </li>
  </ul>
</div>
