<div id="<%= dom_id order %>">
  <p>
    <strong>Order:</strong>
    <%= order.order_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= order.timestamp %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

</div>
